.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card_body {
  width: 310px;
  background-color: lightgrey;
  border-radius: 10px;
  margin-bottom: 30px;
}

.card_body > a {
  text-decoration: none;
}

.card_img > img {
  display: block;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card_title {
  font-size: 20px;
  color: #011765;
  font-weight: 600;
  padding: 10px 0 10px 10px;
}

.card_price {
  color: black;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 0 10px 10px;
}

.card_location,
.card_date {
  font-size: 14px;
  color: grey;
  font-weight: 600;
  padding: 10px 0 10px 10px;
}
