.hero_container {
  width: 1320px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero_container > div > a > img {
  width: 200px;
  padding-bottom: 10px;
}

.search {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.services {
  width: 800px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}

.services > div {
  width: 185px;
  background-color: #011765;
  color: white;
  font-size: 18px;
  padding: 20px 10px;
  text-align: center;
  margin-bottom: 30px;
  border-radius: 10px;
  cursor: pointer;
}

.services > div:hover {
  background-color: #292929;
}

.recommended_ads {
  width: 1320px;
  margin: 50px auto;
}
