.menu {
  list-style-type: none;
  margin: 0;
  width: 600px;
  display: flex;
  justify-content: space-between;
}

.menu > li {
  color: white;
}

.navigation {
    width: 600px;
    display: flex;
    padding-right: 30px;
    justify-content: space-between;
    align-items: center;
}

.advert {
    color: white;
}

.avatar {
    display: flex;
}

.avatar > p {
    padding-left: 10px;
    color: white;
}