.menu {
  list-style-type: none;
  margin: 0;
  width: 600px;
  display: flex;
  justify-content: space-between;
}

.menu > li {
  color: white;
}

.navigation {
  width: 600px;
  display: flex;
  padding-right: 30px;
  justify-content: space-between;
  align-items: center;
}

.navigation > a {
  text-decoration: none;
}

.advert {
  color: white;
}

.avatar {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.avatar > p {
  padding-left: 10px;
  color: white;
  margin: 0;
}

.my_ads > a {
  color: white;
  text-decoration: none;
}

.absolute {
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 10px;
  z-index: 100;
}
